@{
    ViewBag.Title = "Home";
}




<div class="jumbotron">
    <h1>Risk Table Builder</h1>
    <p class="lead">Create and Export Software Engineering Risk Tables.</p>
    <p><a href='@Url.Action("BuildRiskTable", "Risk" )' class="btn btn-primary btn-lg">Build Now &raquo;</a></p>
</div>


    

    <div class="container">
        <h2>Summary</h2>
        <p>Information about Risk Tables below</p>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#whatIs">What is a Risk Table?</button>
        <div id="whatIs" class="collapse">
                A risk table is a detailed table of any and all risks that may be dangerous to your software. <p></p>
            A table helps show the impact and probability of the issues that may be occuring throughout, both on the front-end and back-end. <p></p>
            Specifics of how to construct a risk table are on the next page.
        </div>
    </div>

<div class="space"> <!--Spaces between the buttons, Padding wasnt working-->
    <p></p>
</div>


<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#used">What is a Risk Table used for?</button>
    <div id="used" class="collapse">
        A risk table is used to help process and view all of the risks to a software. This includes user interface and program development issues.<p></p>
        The risk table is referenced by team members to see what issue or potential resolvement is more important.
    </div>
</div>

<div class="space">
    <!--Spaces between the buttons, Padding wasnt working-->
    <p></p>
</div>

<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#How">How to build one.</button>
    <div id="How" class="collapse">
        Building a risk table is simple. You have to fill in each text box with the risk pertaining to your software. The tiny tool will do the heavy lifting.
    </div>
</div>

<div class="space">
    <!--Spaces between the buttons, Padding wasnt working-->
    <p></p>
</div>

<div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#example">Example Table</button>
    <div id="example" class="collapse">
        This an example, from the Pressman Software Engineering: A Practitioners Approach textbook, of what a risk table can look like. This particular table is not sorted, but our table will be.<p></p>
        <img src="http://www.sakshieducation.com/Engg/EnggAcademia/Images/CSE_IT/SoftwareEngg/DevelopingRiskTable.jpg" alt="ExRiskTable" />
    </div>
</div>

<div class="bottomLinks">

    <h5>Links:</h5>
    
    <p><a href="http://www.rspa.com" >-Pressman</a></p>
    <p><a href="http://groups.engin.umd.umich.edu/CIS/tinytools/index.html">-Tiny Tools</a></p>


</div>