@{
    ViewBag.Title = "Home";
}




<div class="jumbotron">
    <h1>Risk Table Builder</h1>
    <p class="lead">Risk Table Builder is a software engineering "tiny tool" created to work with Software Engineering: A Practitioners Approach.</p>
    <p><a href='@Url.Action("BuildRiskTable", "Risk" )' class="btn btn-primary btn-lg">Build Now &raquo;</a></p>
</div>

<div class="row">
    

    <div class="container">
        <h2>Summary</h2>
        <p>Information about Risk Tables below</p>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">What is a Risk Table?</button>
        <div id="demo" class="collapse">
                A risk table is a detailed table of any and all risks that may be dangerous to your software. <p></p>
            A table helps show the impact and probability of the issues that may be occuring throughout, both on the front-end and back-end. <p></p>
            Specifics of how to construct a risk table are on the next page.
        </div>
    </div>

</div>

<div class="bottomLinks">

    <h5>Links:</h5>
    
    <p><a href="http://www.rspa.com" >-Pressman</a></p>
    <p><a href="http://groups.engin.umd.umich.edu/CIS/tinytools/index.html">-Tiny Tools</a></p>


</div>