@model int
@{
    ViewBag.Title = "BuildRiskTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Build Risk Table</h2>

<p>
@{
    switch (Model)
    {
        case 1:
            <p>"Risk" field is required. "Risk" field must be 50 characters or less.</p>
            break;
        case 2:
            <p>"Category" field is required.</p>
            break;
        case 3:
            <p>"Probability" field is required. "Probability" must be a whole number between 1 and 100. </p>
            break;
        case 4:
            <p>"Impact" field is required. "Impact" must be either 1,2,3, or 4.</p>
            break;
        case 5:
            <p>"RMMM" field must be 5 characters or less.</p>
                break;
        default:
            break;
        }
    }
    </p>

    @Html.Action("AddRisk", "Risk")
    @Html.Action("DisplayRiskTable", "Risk")