@model int
@{
    ViewBag.Title = "BuildRiskTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Build Risk Table</h2>

<p>
@{
    switch (Model)
    {
        case 1:
            <p><font color = "red">"Risk" field is required. "Risk" field must be 50 characters or less.</font></p>
            break;
        case 2:
            <p><font color="red">"Category" field is required.</font></p>
            break;
        case 3:
            <p><font color="red">"Probability" field is required. "Probability" must be a whole number between 1 and 100.</font></p>
            break;
        case 4:
            <p><font color="red">"Impact" field is required. "Impact" must be either 1,2,3, or 4.</font></p>
            break;
        case 5:
            <p><font color="red">"RMMM" field must be 5 characters or less.</font></p>
                break;
        default:
            break;
        }
    }
    </p>

    @Html.Action("AddRisk", "Risk")
    @Html.Action("DisplayRiskTable", "Risk")